body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url('./image/work.jpg');
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover;

    /* background-image: linear-gradient(to bottom, #f89999, #f6888c, #f47780, #f16475, #ed4f6a);
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment:fixed;
    background-size:cover */
}

.p1 {
  color: black;
}

.card-panel {
  /* background: transparent; */
}

.welcome {
  background-color: #ee6e73;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hrr {
  border: 5px solid whitesmoke;
  border-radius: 2px;
  
}

.hrrr {
  border: 2px solid black;
  border-radius: 2px;
}

.hrrrr {
  border: 4px solid #ee6e73;
  border-radius: 2px;
}

.jumbotron {
  background: transparent;
  padding-top: 30px;
}

.con2 {
  align-content: center;
} 

a {
  color: white;
}

